@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  padding: 4vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* Calendar Object */
#calendar {
  height: 90vh;
  max-height: 100%;
  margin: 0;
}

/* Event titles */
.fc-event-title:hover, .fc-event-title-container:hover {
  cursor: pointer;
}